{% extends "base.html" %}

{% set nav_gkgn = True %}

{% block content %}
<p class="small">Источник: <a
		href="https://rosreestr.gov.ru/wps/portal/p/cc_ib_portal_services/cc_ib_opendata2/!ut/p/c4/04_SB8K8xLLM9MSSzPy8xBz9CP0os3gDQ1NHQw8TA08DF3MLA0dHV7-QAG8DIDDXL8h2VAQA-EZKhA!!/?PC_7_015A1H40I0D780AAENTPK000G5000000_ru.fccland.ibmportal.spring.portlet.handler.BeanNameParameterHandlerMapping-PATH=/ShowInfoblockPageController&param_infoblock_document_path=goskatalog.htm"
		target="_blank">Сведения
		из Государственного каталога географических названий на апрель 2021 года</a> // Федеральная служба
	государственной регистрации, кадастра и картографии. 02.04.2021. <a href="https://archive.md/hn3Gi" target="_blank"
		class="small">Архивная
		копия</a></p>

<form action="{{ url_for('gkgn.index_gkgn') }}" method="GET">
	<div class="mb-3 row">
		<label for="gkgn_id" class="col-sm-2 form-label">Код ГКГН:</label>
		<div class="col-sm-6">
			<input id="gkgn_id" name="gkgn_id" class="form-control" value="{{ form.gkgn_id }}">
		</div>
	</div>
	<div class="mb-3 row">
		<label for="name" class="col-sm-2 form-label">Название:</label>
		<div class="col-sm-6">
			<input id="name" name="name" class="form-control" value="{{ form.name }}">
		</div>
	</div>
	<div class="mb-3 row">
		<label for="region_id" class="col-sm-2 form-label">Регион:</label>
		<div class="col-sm-6">
			<select id="region_id" name="region_id" class="form-select" value="{{ form.region_id }}">
				<option {% if form.region_id=='' %} selected{% endif %}></option>
				{% for region in regions %}
				<option value="{{ region.0 }}" {% if region.0==form.region_id %} selected{% endif %}>{{ region.1 }}
				</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="mb-3 row">
		<label for="district_id" class="col-sm-2 form-label">Район:</label>
		<div class="col-sm-6">
			<select id="district_id" name="district_id" class="form-select" value="{{ form.district_id }}">
				<option {% if form.district=='' %} selected{% endif %}></option>
				{% for district in districts %}
				<option value="{{ district.0 }}" {% if district.0==form.district_id %} selected{% endif %}>{{ district.1
					}}
				</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="mb-3 row">
		<div class="col-sm-2"></div>
		<div class="col-sm-6">
			<button type="submit" class="btn btn-outline-dark">Отправить</button>
		</div>
	</div>
</form>

{% include "gkgn/result.html" %}

{% endblock %}

{% block extend_js %}{% endblock %}