<option></option>
<option>Республика Адыгея</option>
<option>Республика Алтай</option>
<option>Республика Башкортостан</option>
<option>Республика Бурятия</option>
<option>Республика Дагестан</option>
<option>Республика Ингушетия</option>
<option>Кабардино-Балкарская Республика</option>
<option>Республика Калмыкия</option>
<option>Карачаево-Черкесская Республика</option>
<option>Республика Карелия</option>
<option>Республика Коми</option>
<option>Республика Марий Эл</option>
<option>Республика Мордовия</option>
<option>Республика Саха (Якутия)</option>
<option>Республика Северная Осетия - Алания</option>
<option>Республика Татарстан</option>
<option>Республика Тыва</option>
<option>Удмуртская Республика</option>
<option>Республика Хакасия</option>
<option>Чеченская Республика</option>
<option>Чувашская Республика</option>
<option>Алтайский край</option>
<option>Краснодарский край</option>
<option>Красноярский край</option>
<option>Приморский край</option>
<option>Ставропольский край</option>
<option>Хабаровский край</option>
<option>Амурская область</option>
<option>Архангельская область</option>
<option>Астраханская область</option>
<option>Белгородская область</option>
<option>Брянская область</option>
<option>Владимирская область</option>
<option>Волгоградская область</option>
<option>Вологодская область</option>
<option>Воронежская область</option>
<option>Ивановская область</option>
<option>Иркутская область</option>
<option>Калининградская область</option>
<option>Калужская область</option>
<option>Камчатский край</option>
<option>Кемеровская область</option>
<option>Кировская область</option>
<option>Костромская область</option>
<option>Курганская область</option>
<option>Курская область</option>
<option>Ленинградская область</option>
<option>Липецкая область</option>
<option>Магаданская область</option>
<option>Московская область</option>
<option>Мурманская область</option>
<option>Нижегородская область</option>
<option>Новгородская область</option>
<option>Новосибирская область</option>
<option>Омская область</option>
<option>Оренбургская область</option>
<option>Орловская область</option>
<option>Пензенская область</option>
<option>Пермский край</option>
<option>Псковская область</option>
<option>Ростовская область</option>
<option>Рязанская область</option>
<option>Самарская область</option>
<option>Саратовская область</option>
<option>Сахалинская область</option>
<option>Свердловская область</option>
<option>Смоленская область</option>
<option>Тамбовская область</option>
<option>Тверская область</option>
<option>Томская область</option>
<option>Тульская область</option>
<option>Тюменская область</option>
<option>Ульяновская область</option>
<option>Челябинская область</option>
<option>Забайкальский край</option>
<option>Ярославская область</option>
<option>город федерального значения Москва</option>
<option>город федерального значения Санкт-Петербург</option>
<option>Еврейская автономная область</option>
<option>Республика Крым</option>
<option>Ненецкий автономный округ</option>
<option>город федерального значения Севастополь</option>
<option>Ханты-Мансийский автономный округ - Югра</option>
<option>Чукотский автономный округ</option>
<option>Ямало-Ненецкий автономный округ</option>
