<!DOCTYPE html>
<html lang="ru">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
    crossorigin="anonymous">

  {% if title %}
  <title>{{title}} - DimaBot</title>
  {% else %}
  <title>DimaBot</title>
  {% endif %}

  {% block extend_css %}{% endblock %}

</head>

<body>
  <div class="container-fluid ">
    <div class="row justify-content-center p-2">
      <div class="col col-10">
        <ul class="nav nav-tabs">
          <li class="nav-item"><a class="nav-link {% if nav_index %}active{% endif %}"
              href="{{ url_for('index') }}">Главная</a></li>
          <li class="nav-item"><a class="nav-link {% if nav_gkgn %}active{% endif %}"
              href="{{ url_for('gkgn.index_gkgn') }}">ГКГН</a></li>
          <li class="nav-item"><a class="nav-link {% if nav_coord %}active{% endif %}"
              href="{{ url_for('coord.index_coord') }}">Экспорт координат</a></li>
          <li class="nav-item"><a class="nav-link {% if nav_template_params %}active{% endif %}"
              href="{{ url_for('template_params.index') }}">Параметры шаблонов</a></li>
        </ul>
      </div>
      <div class="tab-content col col-10 mt-3">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
  {% block extend_js %}{% endblock %}
</body>

</html>