{% extends "base.html" %}

{% set nav_coord = True %}

{% block content %}
<form action="{{ url_for('coord.index_coord') }}" method="GET">
	<div class="row mb-3">
		<label for="wiki" class="col-sm-2 form-label">Проект:</label>
		<div class="col-sm-6">
			<input id="wiki" name="wiki" class="form-control" required value="{{ form.wiki }}">
		</div>
	</div>
	<div class="row mb-3">
		<label for="category" class="col-sm-2 form-label">Категория:</label>
		<div class="col-sm-6">
			<input id="category" name="category" class="form-control" required value="{{ form.category }}">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-2 form-label">Опции:</label>
		<div class="col-sm-6">
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" name="not_primary" id="not_primary" {% if
					form.not_primary %}checked{% endif %}><label class="form-check-label"
					for="not_primary">Дополнительные координаты</label>
			</div>
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-2 form-label">Формат:</label>
		<div class="col-sm-6">
			{% for format in formats %}
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="ext" id="ext{{ loop.index }}" value="{{ format.ext }}" {% if form.ext==format.ext
					%}checked{% endif %}>
				<label class="form-check-label" for="ext{{ loop.index }}">{{ format.label }}</label>
			</div>{% endfor %}
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-sm-2"></div>
		<div class="col-sm-6">
			<button type="submit" class="btn btn-outline-dark">Отправить</button>
		</div>
	</div>
</form>

{% if points %}
<div id="map" style="height: calc(100vh - 25rem); min-height: 500px;"></div>
{% endif %}
{% endblock %}

{% block extend_css %}
{% if points %}
<link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/leaflet/1.7.1/leaflet.min.css" />
<link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/leaflet.markercluster/1.5.0/MarkerCluster.min.css" />
<link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/leaflet.markercluster/1.5.0/MarkerCluster.Default.min.css" />
<link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/leaflet.fullscreen/2.0.0/Control.FullScreen.min.css" />
{% endif %}
{% endblock %}

{% block extend_js %}
{% if points %}
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/leaflet/1.7.1/leaflet.min.js"></script>
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/leaflet.markercluster/1.5.0/leaflet.markercluster.min.js"></script>
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/leaflet.fullscreen/2.0.0/Control.FullScreen.min.js"></script>

<script type="text/javascript">

	function desc_popup(feature) {
		return '<div class="text-center"><h5><b>' + feature.properties.name + '</b></h5></div> \
                      <div class="text-center"><b><a href="https://{{ project }}/wiki/' + feature.properties.title + '">Статья на Вики</a></b></div>'
	}

	var markerArray = [];

	var place_arr = {{ points| safe }};
	var project = '{{ project }}';

	var markers = L.markerClusterGroup({
		showCoverageOnHover: false,
		maxClusterRadius: 20
	});

	var osm_layer = L.tileLayer('https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}.png', {
		attribution: 'Data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors \
        	    			  Tiles: &copy; <a href="https://wikimediafoundation.org/w/index.php?title=Maps_Terms_of_Use#Where_does_the_map_data_come_from.3F">Wikimedia</a> contributors'
	});

	var map = L.map('map', {
		fullscreenControl: true,
		fullscreenControlOptions: {
			position: 'topleft'
		},
		layers: [osm_layer]
	});

	L.geoJSON(place_arr, {
		pointToLayer: function (feature, latlng) {
			var marker = L.marker(latlng).bindPopup(desc_popup(feature))
			markerArray.push(marker);
			return markers.addLayer(marker);
		}
	}).addTo(map);

	var group = L.featureGroup(markerArray);
	map.fitBounds(group.getBounds());

</script>
{% endif %}
{% endblock %}