{% extends "base.html" %}

{% set nav_index = True %}

{% block content %}
<h2>Привет!</h2>
<p>На этом сервере крутятся два бота - <a href="//ru.wikipedia.org/wiki/U:DimaBot">DimaBot</a> и <a
        href="//ru.wikipedia.org/wiki/U:DimaABot">DimaABot</a>. Домашней для них является википедия на русском языке, там же обитает их <a href="//ru.wikipedia.org/wiki/U:Dima st bk">хозяин</a>.
</p>
<p>Список задач обоих ботов можно найти на их страницах в РуВики.</p>
{% endblock %}