{% extends "base.html" %}

{% set nav_template_params = True %}

{% block extend_css %}
<style>
	th:first-child,
	td:first-child {
		left: 0px;
		position: sticky;
	}
</style>
{% endblock %}

{% block content %}
<form action="{{ url_for('template_params.index') }}" method="GET">
	<div class="mb-3 row">
		<label for="template" class="col-sm-2 form-label">Шаблон:</label>
		<div class="col-sm-6">
			<input id="template" name="template" class="form-control" value="{{ form.template }}">
		</div>
	</div>
	<div class="mb-3 row">
		<div class="col-sm-2"></div>
		<div class="col-sm-4">
			<button type="submit" class="btn btn-outline-dark">Отправить</button>
		</div>
		<div class="col-sm-2">
			<ul class="pagination">
				{% for page in pagination %}
				<li class="page-item {% if page.active %}active{% endif %}{% if page.disabled %}disabled{% endif %}"><a class="page-link"
						href="{{ page.link }}">{{ page.value }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</form>

<div class="table-responsive lh-1 text-nowrap" style="font-size: 85%">
	<table class="table table-sm table-hover caption-top table-bordered">
		<caption>Показано записей: {{ len }} (всего {{ count }}), время выполнения: __EXECUTION_TIME__ с</caption>
		<thead>
			<tr>
				<th scope="col">Статья</th>
				{% for param in table_header %}
				<th><a href="{{ param.link }}">{{ param.name }} {{ param.icon }}</a></th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for item in result %}
			<tr>
				<th><a href="https://ru.wikipedia.org/w/index.php?curid={{ item.page.wiki_id }}">{{ item.page.title
						}}</a></th>
				{% for param in item.flat_params %}
				{% if param == '__NONE__' %}<td></td>{% elif param %}<td>{{ param }}</td>{% else %}<td
					class="table-info"></td>
				{% endif %}
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}